function plotPop(id) {
    let segmentLength = $("#segment-length-" + id).val() || 3000;
    let plotStyle = $("#plot-style-" + id).val();
    let enableImgPlot = $("#enable-img-plot-" + id).prop('checked');

    // Fetch the dispersion curve data
    fetch(`/plot_pop?id=${id}&segment_length=${segmentLength}`)
    .then(response => response.json())
    .then(data => {
        var plotData = [];
        
        // If image plotting is enabled
        if(enableImgPlot) {
            // Fetch the image data
            fetch(`/get_image_data?id=${id}`)
            .then(response => response.json())
            .then(imgData => {
                // Create a heatmap trace for the image data
                let imgTrace = {
                    z: imgData.ds,
                    x: imgData.f,
                    y: imgData.vs,
                    type: 'heatmap',
                    colorscale: 'Jet',
                    showscale: false
                };
                plotData.push(imgTrace);

                // Create the trace for the dispersion curve
                var trace = {
                    x: data.frequency,
                    y: data.velocity,
                    mode: plotStyle,
                    name: 'Velocity'
                };
                plotData.push(trace);

                var layout = {
                    title: 'Dispersion Curve of ID:' + id,
                    xaxis: {
                        range: [$("#x-min-" + id).val() || 0, $("#x-max-" + id).val() || 15],
                        title: 'Frequency'
                    },
                    yaxis: {
                        range: [$("#y-min-" + id).val() || 0, $("#y-max-" + id).val() || 600],
                        title: 'Velocity'
                    }
                };

                // Plot the data
                Plotly.newPlot(`dispersion-plot-${id}`, plotData, layout);
            });
        } else {
            // Only plot the dispersion curve if image plotting is not enabled
            var trace = {
                x: data.frequency,
                y: data.velocity,
                mode: plotStyle,
                name: 'Velocity'
            };
            plotData.push(trace);

            var layout = {
                title: 'Dispersion Curve of ID:' + id,
                xaxis: {
                    range: [0, 15],
                    title: 'Frequency'
                },
                yaxis: {
                    range: [0, 600],
                    title: 'Velocity'
                }
            };

            // Plot the data
            Plotly.newPlot(`dispersion-plot-${id}`, plotData, layout);
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}
